@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --roxo: #725cff;
    --background: #1b1b1b;
    --cor25: #252525;
    --secondary: #daff01;
    --foreground: 222.2 84% 4.9%;
    --fontMenu: #f5f5f5;
    --muted-foreground: #a7a7a7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background w-full;
  }
}
