@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --roxo: #875cff;
    --background: #1b1b1b;
    --cor25: #252525;
    --secondary: #daff01;
    --foreground: 222.2 84% 4.9%;
    --fontMenu: 215.4 16.3% 46.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
